.container {
  padding: 5px 20px;
  margin-top: 10px;
}

.container:hover {
  background-color: #222428;
}

.name {
  margin-top: 10px;
  margin-bottom: 0;
}

.msg {
  padding-top: 0;
  margin: 0;
  word-wrap: break-word;
}