.main_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat_container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}

.server_title {
  background-color: #1a1b1d;
}

.server_title > h3 {
  margin: 15px 20px;
}

.wrapper {
  display: flex;
  width: 100%;
}

.right_section_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}